<% provide(:title, @taxon.name) %>
<%= render 'light_section_top', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: @taxonomies %>
      <%= render 'products', products: @products %>
    </div>
  </div>
</section>
<%= render 'light_section_bottom' %>
